/*-------Navigation Top Bar Settings----------*/
body {
  background-color: #272020;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  /*background-color:#1E0BFF;*/
}
a:active {
  text-decoration: none;
}


#about h1, #experience h1, #edu h1, #projects h1, #tSkills h1, #connect h1 {
  font-family: "Dangrek", serif;
  color: #1e0bff;
  font-size: 45px;
  text-align: center;
  padding-bottom: 2em;
  padding-top: 2em;
  text-shadow: 2px 2px 4px #000000;
}

#about h2, #projects h2 {
  color: #d9d9d9;
  display:block;
  text-align:center;
  font-size: 26px;
  padding-bottom: 4em;
}

h5 a {
  text-shadow: 2px 2px 4px #1e0bff;
  font-size: 26px;
  color: white;
}

h5 a:hover {
  color: #1e0bff;
}

#about h6 {
  font-size: 28px;
  padding-bottom: 1em;
  color: #d9d9d9;
  font-weight: bold;
}

p {
  font-size: 18px;
}

.img-centered {
  margin: 0 auto;
}

/* Background color classes */
.bg-light-gray {
  background-color: #f7f7f7;
}
.bg-grey{
  background-color: #A0A0A0;
}

.bg-darkest-gray {
  background-color: #222;

}

.bg-dark-white {
  background-color: #d9d9d9;

}

.bg-darker-white {
  background-color: #cfcece;

}

.bg-darkest-white {
  background-color: #a0a0a0;

}

.bg-black {
  background-color: black;
}


.navbar{
  float:left;
  background: grey;
  width:100%;
  opacity: 80%;
}
.navbar .navbar-nav {
  float: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Dangrek", serif;
  color: black;
  text-shadow: 2px 2px 4px #1e0bff;
  font-size: 16px;
}
.navbar .navbar-nav > li {
  float: none;

}
.navbar .navbar-nav > li {
  display: inline;
}
.navbar .navbar-nav > li > a {
  float: none;
  color:black;
  padding-top:2em;
  padding-bottom:2em;
  margin-left:1em;
  display: inline-block;
}
.navbar .nav > li > a:hover {
  background-color: #1e0bff;
  text-decoration:none;
}



header {
  text-align: center;
  background-attachment: scroll;
  background-image: url(https://i.imgur.com/Zn9dtMh.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: #d9d9d9;
  width:100%;
}


header .intro-text {
  padding-top:18em;
  padding-bottom:18em;
}

header .intro-text .intro-lead-in {
  font-family: "Inter", serif;
  text-align: center;
  color: #d9d9d9;
  font-size: 96px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}

header .intro-text .intro-heading {

  color: #d9d9d9;
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  text-shadow: 2px 2px 4px #000000;
}

#about {
  background-color: #272020;
  padding-bottom:8em;
  padding-top:.1em;
}

#about .AboutMe {
  font-family: "Inter", serif;
}

#about .AboutMe h2{
  text-align:center;
}

#about .AboutMe .picPlusText {
  padding-bottom:1em;
}

#about .AboutMe .picPlusText img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 23em;

}

#about .AboutMe .picPlusText p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #d9d9d9;
  font-size: 20px;
  text-align: center;
  padding-top:4em;
  width:85%;
}

#about .about {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7em;
  width:80%;

}

#about .about .service {
  font-size: 20px;
  color: #d9d9d9;
  text-align: left;
  background-color: #272020;
}

#about .about .serviceTwo {
  font-size: 20px;
  color: #d9d9d9;
  text-align: left;
  background-color: #272020;
}

#about .about .service .service-text {
  font-size: 18px;
  text-align: left;
  color: #d9d9d9;
  padding-top:1em;
}

#about .about .service .service-text2 {
  padding-top:1em;
  font-size: 18px;
  text-align: left;
  color: #d9d9d9;
  padding-bottom:4em;
}

#about .btns {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
  padding-top:8em;
  text-align:center;
}


#about button {
  text-align:center;
  background-color:grey;
  height: 3em;
  width: 26em;
  font-weight: bold;
  font-size: 18px;
}

#about button a {
  color: black;
}
#about button a:hover {
  color: #1e0bff;
  text-decoration:none;
}



/*---------------EXP/EDU Settings--------------------------*/

#edu {
  clear: both;
  padding-bottom:10em;
}

#experience {
  padding-bottom:10em;
}

.timeline-heading-left h4 {
  color: #1e1e1e;
  font-size: 24px;
  font-weight: bold;
  text-align: right;
}

.timeline-heading-left h5 {
  font-size: 20px;
  font-style: italic;
  text-align: right;
  padding-bottom: 1em;

}

.timeline-heading-right h4 {
  color: #1e1e1e;
  font-size: 26px;
  font-weight: bold;
  text-align: left;
}

.timeline-heading-right h5 {
  font-size: 22px;
  font-style: italic;
  text-align: left;
  padding-bottom: 1em;
}

.timeline-heading-edu-left h4 {
  font-size: 24px;
  font-weight: bold;
  text-align: right;
}

.timeline-heading-edu-left h5 {
  font-size: 22px;
  font-style: italic;
  text-align: right;
  padding-bottom: 1em;
}

.edu-details {
  text-align: left;
  line-height: 2;
}

.jobTextLeft {
  text-align: right;
  color: #3c3737;
  padding-left:1em;
  font-size: 18px;
}

.jobTextRight {
  text-align: left;
  padding-right:1em;
  color: #3c3737;
  font-size: 18px;
}

.eduTextLeft {
  text-align: left;
  color: #3c3737;
  padding-left: 5em;
}

/*---------------Extra Timeline(Exp/EDU) Settings--------------------------*/

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 10px;
  margin-left: -1.5px;
  background-color: #3c3939;
}

.timeline > li {
  position: relative;
  margin-bottom: 50px;
  min-height: 50px;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  float: right;
  position: relative;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image2 {
  z-index: 100;
  position: absolute;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  text-align: center;
  background-color: #272525;
}

.timeline > li .timeline-image h4 {
  margin-top: 12px;
  font-size: 10px;
  line-height: 14px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }

  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }

  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }

  .timeline > li .timeline-image2 {
    left:46%;
    width: 100px;
    height: 100px;

  }

  .timeline > li .timeline-image h4 {
    margin-top: 16px;
    font-size: 13px;
    line-height: 18px;
  }

  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}



#projects .portfolio-item{
  display:block;
  float:right;
  padding-bottom:4em;
}

#projects .portfolio-item h3{
  text-align:center;
  color:white;
  font-family:'Inter', serif;
}

#projects .portfolio-item h4{
  color:grey;
  text-align:center;
  padding-bottom:50px;
  font-family:'Inter', serif;
  font-style:italic;
}

#projects a:hover{
  text-decoration:none;
  color:#1e0bff;
}

#projects .icon a:hover{
  opacity:50%;

}

#projects a img:hover{
  opacity:50%;
}

#projects .img-responsive{
  width:50em;
  height:20em;
}

#projects .github-link h5 a{
  display:block;
  text-align:center;
}

#projects .github-link .icon .fa-github{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  font-size:8em;
  color:#FFF9C7;
  text-shadow: 4px 4px 6px blue;
  padding-bottom: 1em;
}

/*------------Skill Bars Section-----------------*/
@media (min-width: 768px) {
  #tSkills .tech-skills {
    font-family: 'Inter', serif;

    text-align: left;
    padding-top: 2px;
    padding-bottom: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;


  }


  #tSkills h2 {
    font-size: 24px;
    color: #272525;
    text-transform: uppercase;
    margin-left:14em;
    margin-top:2em;

  }

  #tSkills h3 {
    color: black;
    display:block;
    text-align:center;
    font-size: 26px;
    padding-bottom: 2em;

  }

  #tSkills p {
    display: block;
    width:70%;
    font-size: 20px;
    margin: 4em auto 6em;


  }

  #tSkills * {
    box-sizing: border-box
  }

  /* Container for skill bars */
  #tSkills .containerS {
    width: 50%; /* Full width */
    background-color: black; /* Grey background */
    margin-left:24em;
  }

  #tSkills .skills {
    text-align: right; /* Right-align text */
    padding-top: .5em; /* Add top padding */
    padding-bottom: .5em; /* Add bottom padding */
    color: white; /* White text color */
    font-size: 20px;
  }

  .java {
    width: 90%;
    background-color: #04AA6D;
  }

  /* Green */
  .cplus {
    width: 60%;
    background-color: #04AA6D;
  }

  /* Blue */
  .py {
    width: 60%;
    background-color: #04AA6D;
  }

  /* Red */
  .c {
    width: 40%;
    background-color: #2196F3;
  }

  .lin {
    width: 40%;
    background-color: #2196F3;
  }

  .html {
    width: 40%;
    background-color: #2196F3;
  }

  .sql {
    width: 40%;
    background-color: #2196F3;
  }

  .php {
    width: 20%;
    background-color: #f44336;
  }

  .r {
    width: 20%;
    background-color: #f44336;
  }

  .tcp {
    width: 20%;
    background-color: #f44336;
  }
}


#connect {
  font-family: 'Inter', serif;
  width:100%;
  padding-bottom:7em;
}

#connect .container .allIcons{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

#connect .home{
  float:left;
  text-align:center;
}

#connect .home h6{
  color:green;
  line-height:0;
  font-size:18px;
}

#connect .container .allIcons .home .icon .fa-home{
  font-size:8em;
  color:green;
  padding-bottom:.25em;
  text-shadow: 2px 2px 4px #fff;
}

#connect .email{
  float:left;
  text-align:center;
  padding-left:10em;
  padding-right:10em;
}

#connect .container .allIcons .email h6 a{
  color: #6D61FF;
  line-height:0;
  font-size:18px;
}

#connect .container .allIcons .email .icon i{
  font-size:8em;
  padding-bottom:.25em;
  text-shadow: 2px 2px 4px #fff;
  color: #6D61FF;
  text-align:center;
}

#connect .container .allIcons .email a i:hover{
  color:#1e0bff;
}

#connect .container .allIcons .email a:hover{
  color:#1e0bff;
}

#connect .link{
  float:left;

}

#connect .link h6{
  line-height:0;
  font-size:18px;
}

#connect .container .allIcons .link .icon .fa-linkedin{
  font-size:8em;
  padding-bottom:.25em;
  text-shadow: 2px 2px 4px #fff;
}

#connect .container .allIcons a:hover{
  color:#1e0bff;
  text-decoration:none;
}



/*---------------Footer Section---------------*/
#foot{
  padding-top:3px;
  padding-bottom:15px;
}

#foot footer {
  clear: both;
  display:block;
  font-family:'Inter', serif;
  text-align: center;
}
#foot footer .end h4 {
  color: grey;
  font-style:italic;
  font-size: 16px;
}


/*Personal Modal */
/*
.modal-dialog{
  background-color: #222;
  padding: 10px;
}
.modal-header{
  background-color:grey;
}
.modal-header .modal-title{
  text-align:center;
  background-color:grey;
  padding-top:10px;
  padding-bottom:10px;
  color:black;

}
.modal-body{
  text-align: center;
  line-height:2;
  background-color:grey;

}

.modal-content .modal-body h3{
  font-size: 24px;
  color:black;
}

.modal-content .modal-body h4{
  font-size: 20px;
  color:black;
  font-style:italic;
}

.modal-content .modal-body p{
  font-size: 16px;
}

.modal-content .modal-body h5{
  font-size: 20px;
}

.modal-content .modal-body h5 a:hover{
  text-decoration:none;
}

.modal-content .modal-body img{
  width:500px;
}
*/

/*Personal Modal */
.modal-dialog{
  background-color: #222;
  padding: 10px;
}
.modal-header{
  background-color:grey;

}
.modal-header .modal-title{
  text-align:center;
  background-color:grey;
  padding-top:10px;
  padding-bottom:10px;
  color:black;

}

.modal-content .modal-body2 img{
  width:500px;
  display:block;
  margin: 0 auto;
}


.modal-body2{
  text-align: left;
  line-height:2;
  background-color:grey;
  padding-bottom:2px;
  padding-top:2px;
}

.modal-content .modal-body2 h3{
  font-size: 24px;
  color:black;
  text-align:center;
}

.modal-content .modal-body2 h4{
  font-size: 20px;
  color:black;
  font-style:italic;
  text-align:center;
}

.modal-content .modal-body2 p{
  font-size: 16px;
  text-align:center;
}

.modal-content .modal-body2 ul{
  text-align:left;
}

.modal-content .modal-body2 h5{
  font-size: 20px;
  text-align:center;
}

.modal-content .modal-body2 h5 a:hover{
  text-decoration:none;
}

.modal-content .modal-body2 iframe{
  display:block;
  margin: 0 auto;
}
